In [1]:
import pandas as pd
import io
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from io import StringIO

In [2]:
matches = pd.read_csv(r"C:\Users\Admin\Desktop\Fall21-22\BDA\Project\matches.csv")

In [3]:
matches=matches[["city","date","venue","team1","team2","winner"]]
matches.head()

,city,date,venue,team1,team2,winner
0,Cuttack,19-03-10,Barabati Stadium,Deccan Chargers,Kings XI Punjab,Deccan Chargers
1,Cuttack,21-03-10,Barabati Stadium,Deccan Chargers,Delhi Daredevils,Deccan Chargers
2,Cuttack,22-04-12,Barabati Stadium,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders
3,Cuttack,01-05-12,Barabati Stadium,Deccan Chargers,Pune Warriors,Deccan Chargers
4,Cuttack,07-05-14,Barabati Stadium,Kings XI Punjab,Chennai Super Kings,Kings XI Punjab

In [4]:
matches.dropna()

,city,date,venue,team1,team2,winner
0,Cuttack,19-03-10,Barabati Stadium,Deccan Chargers,Kings XI Punjab,Deccan Chargers
1,Cuttack,21-03-10,Barabati Stadium,Deccan Chargers,Delhi Daredevils,Deccan Chargers
2,Cuttack,22-04-12,Barabati Stadium,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders
3,Cuttack,01-05-12,Barabati Stadium,Deccan Chargers,Pune Warriors,Deccan Chargers
4,Cuttack,07-05-14,Barabati Stadium,Kings XI Punjab,Chennai Super Kings,Kings XI Punjab
...,...,...,...,...,...,...
811,Mumbai,10-04-19,Wankhede Stadium,Mumbai Indians,Kings XI Punjab,Mumbai Indians
812,Mumbai,13-04-19,Wankhede Stadium,Mumbai Indians,Rajasthan Royals,Rajasthan Royals
813,Mumbai,15-04-19,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians
814,Mumbai,02-05-19,Wankhede Stadium,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians
815,Mumbai,05-05-19,Wankhede Stadium,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians

In [5]:
venue = matches["venue"]

In [6]:
matches.iloc[183]

city                 Delhi
date              21-05-11
venue     Feroz Shah Kotla
team1     Delhi Daredevils
team2        Pune Warriors
winner       Not Available
Name: 183, dtype: object

In [7]:
len(venue)

816

In [45]:
venue[183] = "Feroz Shah Kotla"

In [60]:
venue[360] = "M.Chinnaswamy Stadium"

In [12]:
pip install geopy

Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
from geopy.geocoders import Nominatim

In [9]:
# calling the Nominatim tool
addr=[]
location = []
loc = Nominatim(user_agent="GetLoc")
# entering the location name
for i in range(0,812):
  getLoc = loc.geocode(venue[i]) 
  addr.append(getLoc.address)

In [10]:
len(addr)

812

In [11]:
locator = Nominatim(user_agent="myGeocoder")
latlon = []
for i in range(0,812):
  location = locator.geocode(addr[i])
  latlon.append(location)

In [12]:
destination = np.array(latlon)

<ipython-input-12-d078ccbe895d>:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  destination = np.array(latlon)

In [22]:
panda_df = pd.DataFrame(data = destination)

In [23]:
panda_df.columns = ["address","location"]

In [37]:
result = pd.concat([matches, panda_df], axis=1, join='inner')

In [38]:
result.head(2)

,city,date,venue,team1,team2,winner,address,location
0,Cuttack,19-03-10,Barabati Stadium,Deccan Chargers,Kings XI Punjab,Deccan Chargers,"Barabati Stadium, Ring Road, Barabati Killa, C...","(20.48070435, 85.86852541310051)"
1,Cuttack,21-03-10,Barabati Stadium,Deccan Chargers,Delhi Daredevils,Deccan Chargers,"Barabati Stadium, Ring Road, Barabati Killa, C...","(20.48070435, 85.86852541310051)"

In [54]:
result.to_csv(r'C:\Users\Admin\Desktop\Fall21-22\ipl_locations.csv')

In [46]:
df = pd.read_csv(r"C:\Users\Admin\Desktop\Fall21-22\ipl_locations.csv")

In [48]:
df["location"] = df["location"].str.replace("(", "")

<ipython-input-48-ff47725bf5dd>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df["location"] = df["location"].str.replace("(", "")

In [49]:
df["location"] = df["location"].str.replace(")", "")

<ipython-input-49-41530fbc46ba>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df["location"] = df["location"].str.replace(")", "")

In [50]:
df[['Lat','Lon']] = df.location.str.split(",",expand=True)

In [51]:
df.head(3)

,Unnamed: 0,city,date,venue,team1,team2,winner,address,location,Lat,Lon
0,0,Cuttack,19-03-10,Barabati Stadium,Deccan Chargers,Kings XI Punjab,Deccan Chargers,"Barabati Stadium, Ring Road, Barabati Killa, C...","20.48070435, 85.86852541310051",20.48070435,85.86852541310051
1,1,Cuttack,21-03-10,Barabati Stadium,Deccan Chargers,Delhi Daredevils,Deccan Chargers,"Barabati Stadium, Ring Road, Barabati Killa, C...","20.48070435, 85.86852541310051",20.48070435,85.86852541310051
2,2,Cuttack,22-04-12,Barabati Stadium,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders,"Barabati Stadium, Ring Road, Barabati Killa, C...","20.48070435, 85.86852541310051",20.48070435,85.86852541310051

In [55]:
df.to_csv(r'C:\Users\Admin\Desktop\Fall21-22\ipl_latlon.csv')